/* -- CSS RESET -- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- LE STYLES -- */

.text-inline-block {
	display: inline-block;
}

#huge {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #f88a04; /* Old browsers */
	background: -moz-linear-gradient(top, #f88a04 0%, #f16d06 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f88a04), color-stop(100%,#f16d06)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f88a04 0%,#f16d06 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f88a04 0%,#f16d06 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f88a04 0%,#f16d06 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f88a04 0%,#f16d06 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f88a04', endColorstr='#f16d06',GradientType=0 ); /* IE6-9 */
	color:#fff;
}

#huge h1 {
	font-size: 48px;
}

.skinny {
	display: inline-block;
	font-weight: 100;
}

#huge .lead {
	color:#7c3802;
}

#huge-inner {
	margin-top: 60px;
}

.urlSearch-label {
	border-radius: 4px;
	font-weight: 200;
	border: 2px solid #ffffff !important;
	margin-top: 20px;
	-webkit-transition:background .3s ease;
    -moz-transition:background .3s ease;
    -o-transition:background .3s ease;
    transition:background .3s ease;
    cursor: pointer;
    cursor: hand;
}

.urlSearch-label:hover,
.urlSearch-label:focus {
	background-color: #ffffff;
	color: #f16d06 !important;
}

.urlSearch-label:active {
	box-shadow: none;
}

/*#searchField {
	width: 200px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	font-weight: 200;
}*/

#color-list{
	margin: 0;
}

.color-wrapper {
	display: block;
	text-align: center;
	width: 100%;
	line-height: 50px;
}